/bin/*.bin
/ext
/src/revision.h
*.lst
*.pbd
*.browse
*.o
*.pbi
*.cout
*.bin
*.out
*.map
*.dep
*.ewd
*.dbgdt
*.dni
*.wsdt
*.wspos
*.jlink
*.cspy.bat
/prj/olimex_stm32_p407/iar710/Debug FLASH/Exe/*.sim
/prj/olimex_stm32_p407/iar710/*.tmp
/src/*.TMP
/prj/olimex_stm32_p407/iar740/Debug FLASH/Exe/*.sim
/prj/olimex_stm32_p407/iar740/settings/*.xcl
/prj/olimex_stm32_p407/iar740/settings/*.crun
